/*Ceci est pour mettre des bordures bleues autour de tous mes
elements, histoire de me retrouver quand je fais des erreurs.*/
/**{
	border: 1px solid blue;
}*/
/***************************************************************/



/*Design du header Logo + Menu*/
a:link, a:visited {
    background-color: #B9E4F0;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #5DBCD2;
}
/******************************/



/* Design corps du bas */
.corps-du-bas li{
	display: inline-block;
	margin-left: 200px;
}

.corps-du-bas a{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


/***********************/


/* Design corps du haut */
.titre-bienvenue{
	text-align: center;
}

.corps-du-haut{
	background: url('../images/body_image.jpg') no-repeat;
	opacity: 0.7;
	background-size: 100%;	
	width: 100%;
	height: 400px;
}

/***********************/


body{
	background-color: #fafafa;
	/*opacity: 0.5;*/
}

form {
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 margin: auto;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #5DBCD2;
 }
legend {
 color:#5DBCD2;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }

input, textarea, select {
 padding:3px;
 border:1px solid #5DBCD2;
 border-radius:5px;
 box-shadow:1px 1px 2px #5DBCD2 inset;
 }
select {
 margin-top:10px;
 }

input[type=submit], input[type=reset], input[type=button] {
 width:auto;
 margin-left:5px;
 box-shadow:1px 1px 1px #5DBCD2;
 cursor:pointer;
 }

 input:focus, textarea:focus {
 background-color:white;
 }
input[type=submit]:focus, input[type=reset]:focus {
 background-color:#5DBCD2;
}
